name: CI - Alzheimer MRI Detection (Docker)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      id: build
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        tags: alzheimer-mri:ci-test
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker,dest=/tmp/alzheimer-mri.tar  # save to file

    - name: Load Docker image
      run: docker load --input /tmp/alzheimer-mri.tar

    - name: Test Docker image (smoke test)
      run: docker run --rm alzheimer-mri:ci-test streamlit --version